.white-background{
    -fx-background-color: #ffffff;
}

.yellow-background{
    -fx-background-color: #faf0ca;
}


.red-background{
    -fx-background-color: #ff0000;
}

.blue-background{
    -fx-background-color: #0d3b66;
}

.button-style {
    -fx-background-color: #f4d35e;
    -fx-background-radius: 100;   /* rounds the button */
    -fx-border-radius: 100;       /* rounds the border */
    -fx-font-weight: bold;        /* makes text bold */
    -fx-text-fill: black;         /* optional: sets text color */
    -fx-padding: 10 20 10 20;     /* controls spacing inside button */
}